.character-list {
  padding: 1rem 0 1rem;
}
.character-list ul {
  list-style: none;
  padding: 0;
}

.character-list ul > li {
  margin: 0;
  padding: 0.4rem 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.character-list ul > li > a {
  text-decoration: none;
  margin: 0;
  color: cornflowerblue;
}

.character-list ul > li > small {
  color: dimgray;
  margin-right: 0.4rem;
}
.character-list ul > li h1 {
  text-decoration: none;
  font-size: 1rem;
  margin: 0;
}
